# Environment variables - VERY IMPORTANT
.env
/Frontend/.env
/Backend/.env

# Firebase credentials - VERY IMPORTANT
firebase-service-account.json

# Python virtual environments
/Backend/venv
/Frontend/venv
/venv

# Node.js dependencies
/Frontend/node_modules
/Backend/node_modules

# Frontend build outputs
/Frontend/dist

# Python cache files
__pycache__/
/Backend/__pycache__/
*.pyc

# AI models and large data files
*.faiss
poem_id_map.json
poems.json

# IDE and OS specific files
.vscode/
.idea/
.DS_Store

# Misc
*.zip
all-files.txt
